
# Ignore model binaries
kaggle/*.gguf
kaggle/models/
kaggle/llama.cpp/

# Jupyter checkpoint files
.ipynb_checkpoints/

# __pycache__ folders
__pycache__/

# VS Code & Codespaces files
.vscode/
*.code-workspace
act_Linux_x86_64.tar.gz
.secrets/
.secrets/
.secrets/
